{{- $gpgrecipient := promptString "gpg recipient" }}
{{- $enablecrypt := promptString "true/false to enable encrypted files?" }}
{{- $org_directory := promptString "directory for org files" }}
{
    "data": {
        "enablecrypt": "{{ $enablecrypt }}",
        "org_directory": "{{ $org_directory }}"
    },
    "encryption": "gpg",
    "gpg": {
        "recipient": "{{ $gpgrecipient }}"
    }
} 
        
