{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{- $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- $enable_crypt := promptBool "true/false to enable encrypted files" }}
{{- $gpg_recipient := promptString "gpg recipient" }}
{{- $org_directory := promptString "directory for org files" }}
{
    "data": {
        "enable_crypt": "{{ $enable_crypt }}",
        "org_directory": "{{ $org_directory }}",
        "osid": "{{ $osid }}"
    },
    "encryption": "gpg",
    "gpg": {
        "recipient": "{{ $gpg_recipient }}"
    }
} 
        
