#!/bin/zsh

# Youtube-dl
alias yt='youtube-dl'
alias ytmp4='youtube-dl -i -f mp4'

# Color support
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Directory contents
alias lsa='ls -lAhv --group-directories-first'
alias l='ls -lAhv --group-directories-first'
alias ll='ls -lhv --group-directories-first'
alias la='ls -lAhv --group-directories-first'

# Home directory cleaning	
alias wget='wget --hsts-file="${XDG_CACHE_HOME}/wget-hsts"'

# Other core commands
alias cl='clear'
alias start='xdg-open'
alias open='xdg-open'
alias rt='trash-put'

# User programs
alias redshifttoggle='pkill -USR1 redshift'
alias redshiftinfo='redshift -p'
alias emacsbreak='pkill -SIGUSR2 emacs'

# Chezmoi related
alias chedit='chezmoi edit --apply'
alias ohmyzshupdate='cd /tmp; \
		    curl -s -L -o oh-my-zsh-master.tar.gz https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz; \
		    chezmoi import --strip-components 1 --destination "${XDG_CONFIG_HOME}/zsh/oh-my-zsh" oh-my-zsh-master.tar.gz; \
		    cd; \
		    compaudit | xargs chmod g-w,o-w';

# Rclone repos
alias rcloneonedrive='rclone mount onedrive:/ /mnt/rclone/onedrive --daemon'

# Misc
alias doomredo='doom upgrade; \
	       doom sync; \
	       doom clean; \
	       doom compile';
alias sgit='sudo git -c "include.path='"${XDG_CONFIG_HOME}/git/config\""
alias zsource='source "${XDG_CONFIG_HOME}/shell/env"; \
		 source "${XDG_CONFIG_HOME}/shell/profile"; \
		 source "${XDG_CONFIG_HOME}/zsh/.zshrc"';

# If WSL
{{ if .chezmoi.kernel.osrelease | regexMatch "-microsoft-standard$" -}}
alias start='cmd.exe /c start ""'
{{ end -}} # End WSL

