#!/bin/zsh

# Youtube-dl
alias yt='youtube-dl'
alias ytmp4='youtube-dl -i -f mp4'

# Color support
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Misc
alias ohmyzshupdate='cd /tmp;curl -s -L -o oh-my-zsh-master.tar.gz https://github.com/robbyrussell/oh-my-zsh/archive/master.tar.gz;chezmoi import --strip-components 1 --destination ${HOME}/.oh-my-zsh oh-my-zsh-master.tar.gz;cd;compaudit | xargs chmod g-w,o-w'
alias doomredo='doom upgrade;doom sync;doom clean;doom compile'
alias sudogit='sudo git -c "include.path='"${XDG_CONFIG_DIR:-$HOME/.config}/git/config\" -c \"include.path=$HOME/.gitconfig\""

# If WSL
{{ if .chezmoi.kernel.osrelease | regexMatch "-microsoft-standard$" -}}
alias start='cmd.exe /c start ""'
{{ end -}} # End WSL

