#!/bin/zsh

# profile file. Runs on login shells. Assumes env already set.

#if running bash
if [ -n "$BASH_VERSION" ]; then
    # If not running interactively, don't do anything
    case $- in
        *i*) ;;
            *) return;;
    esac
    # Switch to ZSH
    if test -t 1; then
        exec zsh
    fi
fi


# NVM
[ -s "/usr/share/nvm/nvm.sh" ] && source /usr/share/nvm/nvm.sh
[ -s "/usr/share/nvm/bash_completion" ] && source /usr/share/nvm/bash_completion
[ -s "/usr/share/nvm/install-nvm-exec" ] && source /usr/share/nvm/install-nvm-exec

# If not WSL
{{ if not (.chezmoi.kernel.osrelease | regexMatch "-microsoft-standard$") -}}
# Start X
if [ -z "${DISPLAY}" ] && [ "${XDG_VTNR}" -eq 1 ]; then
    exec startx "${XDG_CONFIG_HOME}/x11/xinitrc" -- -keeptty &> "${XDG_DATA_HOME}/xorg/xorg.tty.log" # exec forces it back out when x session dies
fi
export GPG_TTY=$(tty)
gpg-connect-agent updatestartuptty /bye >/dev/null
{{ end -}} # End non-WSL
