[Unit]
Description=Activity Watch server and interface
After=network.target
Wants=stalonetray.service
After=stalonetray.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/aw-qt

[Install]
WantedBy=default.target
