[Unit]
Description=Activity Watch server and interface
Wants=stalonetray.service
After=stalonetray.service

[Service]
Type=simple
Restart=always
RestartSec=10s
ExecStart=/usr/bin/aw-qt

[Install]
WantedBy=default.target
