[Unit]
Description=ActivityWatch self tracker
# Makes sure that this unit is stopped when the graphical session is terminated.
# https://www.freedesktop.org/software/systemd/man/systemd.special.html#graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=aw-qt
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
