[Unit]
Description=Notify about upcoming autolock

[Service]
Type=simple
ExecStart=/usr/bin/dunstify -a "autolock" -i appointment-soon "Autolock coming up"
