[Unit]
Description=XDG Autostarts
Documentation=man:dex(1)
Wants=keepassxc.service
After=keepassxc.service
ConditionFileIsExecutable=/usr/bin/dex

[Service]
Type=forking
TimeoutSec=5
ExecStart=/usr/bin/dex -a

[Install]
WantedBy=default.target


