[Unit]
Description=Activity Watch server
PartOf=graphical-session.target
Wants=stalonetray.service
After=stalonetray.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
ExecStart=/usr/bin/aw-server

[Install]
WantedBy=default.target
