[Unit]
Description=Activity Watch server

[Service]
Type=exec
Restart=on-failure
RestartSec=20s
ExecStart=/usr/bin/aw-server

[Install]
WantedBy=wm.target
