[Unit]
Description=Activity Watch watcher for active window and title
PartOf=graphical-session.target
After=aw-server.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
ExecStart=/usr/bin/aw-watcher-window

[Install]
WantedBy=default.target
