[Unit]
Description=boot sound on spidf to possibly fix issues
Requires=pulseaudio.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/paplay --device=2 /usr/share/sounds/bootsounds/windows_95-boot.wav

[Install]
WantedBy=default.target
