[Unit]
Description=bootsound with pulse
Wants=sound.service
After=sound.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/paplay /usr/share/sounds/bootsounds/windows_95-boot.wav

[Install]
WantedBy=wm.target
