[Unit]
Description=Dex desktop entries autostart
Wants=stalonetray.service
After=stalonetray.service

[Service]
Type=simple
Restart=no
ExecStart=dex -aw

[Install]
WantedBy=default.target
