[Unit]
Description=Dunst notification manager
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
Restart=always
RestartSec=5s
ExecStart=/usr/bin/dunst
# Make sure notifications aren't paused on start
ExecStartPost=/usr/bin/sleep 2
ExecStartPost=/usr/bin/dunstctl set-paused false

[Install]
WantedBy=wm.target
