[Unit]
Description=Element Matrix Client
Wants=keepassxc.service
After=keepassxc.service

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=/usr/bin/sleep 20
ExecStart=/usr/bin/element-desktop --hidden

[Install]
WantedBy=default.target
