[Unit]
Description=Mumble Daemon
Requires=pulseaudio.service

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/mumble
ExecStartPost=/usr/bin/sleep 10
ExecStartPost=/usr/bin/xdotool search --sync --class mumble windowactivate windowfocus key --delay 150 --clearmodifiers --repeat 3 alt+e+h

[Install]
WantedBy=default.target
