[Unit]
Description=Stalonetray system tray
PartOf=graphical-session.target
Requires=

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=stalonetray -c "${XDG_CONFIG_HOME}/stalonetray/stalonetrayrc"

[Install]
WantedBy=default.target
