[Unit]
Description=Timekpr-nExT client application (for notifications)
Wants=stalonetray.service
After=stalonetray.service

[Service]
Type=simple
Restart=always
RestartSec=10s
ExecStart=/usr/bin/timekprc

[Install]
WantedBy=default.target
