[Unit]
Description=System tray using stalonetray
PartOf=graphical-session.target

[Service]
Type=exec
Restart=always
RestartSec=5s
ExecStart=stalonetray -c %h/.config/stalonetray/stalonetrayrc
# Make sure it's fully loaded before dependencies get going
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=wm.target
