[Unit]
Description=Hide mouse cursor with unclutter
Documentation=man:unclutter-xfixes(1)

[Service]
Type=exec
Restart=always
RestartSec=10s
ExecStart=/usr/bin/unclutter --timeout 1

[Install]
WantedBy=wm.target
