[Unit]
Description=Volnoti-dbus volume notification daemon
Requires=pulseaudio.service
Wants=dunst.service
After=dunst.service pulseaudio.service

[Service]
Type=exec
Restart=always
RestartSec=10s
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/volnoti-dbus

[Install]
WantedBy=wm.target
