[Unit]
Description=Lock computer, checking if it's already locked
ConditionFileIsExecutable=%h/.local/bin/check_i3lock

[Service]
Type=oneshot
ExecStart=%h/.local/bin/check_i3lock
