[Unit]
Description=Activity Watch server
ConditionFileIsExecutable=/usr/bin/aw-server

[Service]
Type=exec
Restart=on-failure
RestartSec=20s
ExecStart=aw-server

[Install]
WantedBy=wm.target
