[Unit]
Description=Activity Watch watcher for mouse/keyboard activity
Requires=aw-server.service
After=aw-server.service
ConditionFileIsExecutable=/usr/bin/aw-watcher-afk

[Service]
Type=exec
Restart=on-failure
RestartSec=20s
ExecStart=aw-watcher-afk

[Install]
WantedBy=wm.target
