[Unit]
Description=Activity Watch watcher for mouse/keyboard activity
Requires=aw-server.service
After=aw-server.service

[Service]
Type=exec
Restart=on-failure
RestartSec=20s
ExecStart=/usr/bin/aw-watcher-afk

[Install]
WantedBy=wm.target
