[Unit]
Description=Copyq clipboard manager
Documentation=man:copyq(1)
Wants=tray.service
After=tray.service

[Service]
Type=exec
RestartSec=20s
Restart=always
ExecStart=/usr/bin/copyq

[Install]
WantedBy=wm.target
