[Unit]
Description=delete old files upon startup
Requires=mnt-osiris.mount
After=mnt-osiris.mount
ConditionFileIsExecutable=%h/.local/bin/delete_old_files

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=%h/.local/bin/delete_old_files

[Install]
WantedBy=wm.target
