[Unit]
Description=Gomuks in a separate tmux session
Documentation=man:irssi(1)
Wants=wait-for-dns.service dunst.service tray.service
After=wait-for-dns.service dunst.service tray.service
ConditionFileIsExecutable=/usr/bin/tmux
ConditionFileIsExecutable=/usr/bin/gomuks
ConditionFileIsExecutable=/usr/bin/timeout

[Service]
Type=forking
TimeoutSec=5
WorkingDirectory=~
ExecStart=tmux -L gomuks -2 new-session -A -d -s gomuks gomuks 
ExecStop=timeout 3 tmux -L gomuks kill-session -t gomuks 

[Install]
WantedBy=wm.target
