[Unit]
Description=KeepassXC Password Manager
Wants=tray.service wait-for-dns.service
After=tray.service wait-for-dns.service

[Service]
Type=exec
Restart=always
RestartSec=10s
ExecStartPre=%h/.local/bin/wait-for-keepassxc-requirements
ExecStart=%h/.local/bin/start_keepassxc
ExecStartPost=%h/.local/bin/wait-for-database

[Install]
WantedBy=wm.target
