[Unit]
Description=KeepassXC Password Manager
Wants=tray.service wait-for-dns.service
After=tray.service wait-for-dns.service
ConditionFileIsExecutable=/usr/bin/keepassxc
ConditionFileIsExecutable=%h/.local/bin/wait-for-keepassxc-requirements
ConditionFileIsExecutable=%h/.local/bin/start_keepassxc
ConditionFileIsExecutable=%h/.local/bin/wait-for-database

[Service]
Type=simple
Restart=always
RestartSec=10s
ExecStartPre=%h/.local/bin/wait-for-keepassxc-requirements
ExecStart=%h/.local/bin/start_keepassxc
ExecStartPost=%h/.local/bin/wait-for-database

[Install]
WantedBy=wm.target
