[Unit]
Description=Keynav mouse-free application
PartOf=graphical-session.target

[Service]
Type=exec
Restart=always
RestartSec=10s
ExecStart=/usr/bin/keynav

[Install]
WantedBy=wm.target
