[Unit]
Description=Keynav mouse-free application
PartOf=graphical-session.target
ConditionFileIsExecutable=/usr/bin/keynav

[Service]
Type=exec
Restart=always
RestartSec=10s
ExecStart=keynav

[Install]
WantedBy=wm.target
