[Unit]
Description=Mumble Daemon
Requires=sound.service wait-for-dns.service
Wants=tray.service
After=sound.service tray.service wait-for-dns.service
ConditionFileIsExecutable=/usr/bin/sleep
ConditionFileIsExecutable=/usr/bin/mumble

[Service]
Type=exec
Restart=always
RestartSec=10s
ExecStartPre=sleep 3
ExecStart=mumble --skip-settings-backup-prompt --hidden
ExecStartPost=sleep 3
ExecStopPost=/bin/sh -c 'rm -f ~/.config/Mumble/Mumble/mumble_settings.json.back'
TimeoutStopSec=3

[Install]
WantedBy=wm.target
