[Unit]
Description=PCManFM daemon mode
Documentation=man:pcmanfm(1)
ConditionFileIsExecutable=/usr/bin/pcmanfm

[Service]
Type=simple
ExecStart=pcmanfm -d
Restart=always
RestartSec=10s

[Install]
WantedBy=wm.target
