[Unit]
Description=Redshift display colour temperature adjustment
Documentation=man:redshift(1)
PartOf=graphical-session.target
ConditionFileIsExecutable=/usr/bin/redshift

[Service]
Type=exec
ExecStart=redshift
Restart=always
RestartSec=10s

[Install]
WantedBy=wm.target
