[Unit]
Description=Redshift display colour temperature adjustment
Documentation=man:redshift(1)
PartOf=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/redshift
Restart=always
RestartSec=10s

[Install]
WantedBy=wm.target
