[Unit]
Description=simple X hotkey daemon
Documentation=man:sxhkd(1)
PartOf=graphical-session.target

[Service]
Type=exec
RestartSec=10s
ExecStart=/usr/bin/sxhkd
Restart=always

[Install]
WantedBy=wm.target
