[Unit]
Description=Timekpr-nExT client application (for notifications)
Wants=tray.service
After=tray.service

[Service]
Type=exec
Restart=always
RestartSec=20s
ExecStart=/usr/bin/timekprc

[Install]
WantedBy=wm.target
