[Unit]
Description=Timekpr-nExT client application (for notifications)
Wants=tray.service
After=tray.service
ConditionFileIsExecutable=/usr/bin/timekprc

[Service]
Type=exec
Restart=always
RestartSec=20s
ExecStart=timekprc

[Install]
WantedBy=wm.target
