[Unit]
Description=System tray using stalonetray
PartOf=graphical-session.target
ConditionFileIsExecutable=/usr/bin/sleep
ConditionFileIsExecutable=/usr/bin/stalonetray
ConditionPathExists=%h/.config/stalonetray/stalonetrayrc

[Service]
Type=exec
Restart=always
RestartSec=5s
ExecStart=stalonetray -c %h/.config/stalonetray/stalonetrayrc
# Make sure it's fully loaded before dependencies get going
ExecStartPost=sleep 1

[Install]
WantedBy=wm.target
