[Unit]
Description=Hide mouse cursor with unclutter
Documentation=man:unclutter-xfixes(1)
ConditionFileIsExecutable=/usr/bin/unclutter

[Service]
Type=exec
Restart=always
RestartSec=10s
ExecStart=unclutter --timeout 1

[Install]
WantedBy=wm.target
